build/
.cache/
compile_commands.json
perf_report.txt
valgrind/

# Local debug scratch (repo root)
/aloc
/asmtest
/asmtest.c
/d1
/dbg
/debug_run
/debug_run.c
/dis
/dump
/dump.c
/dump2
/dump2.c
/dump3
/dump3.c
/mem
/pool
/pool2
/sim
/sim.c
/syms
/t
/tasm
/tasm.c
/tbl
/trace
/trace.c
/trace2
/trace2.c
/trace3
/trace4
/trace5
/trace6
/trace7
/trace8